- hosts: {{ target_host }}
  remote_user: {{ target_user }}

  roles:
  - quarry

  tasks:
  - name: Create a volume
    quarry_volume:
      backend: {{ backend }}
      config: {{ backend_config }}
      state: present
      id: {{ params.id }}
      size: {{ params.size }}
