- hosts: {{ target_host }}
  remote_user: {{ target_user }}

  roles:
  - quarry

  tasks:
  - name: Get a volume
    quarry_volume:
      backend: {{ backend }}
      config: {{ backend_config }}
      state: present
      id: {{ params.id }}
    check_mode: yes
