- hosts: {{ target_host }}
  remote_user: {{ target_user }}

  roles:
  - quarry

  tasks:
  - name: Terminate a volume connection
    quarry_connection:
      backend: {{ backend }}
      config: {{ backend_config }}
      state: absent
      volume_id: {{ params.volume_id }}
      initiator: {{ params.initiator | default('null') }}
